.App{
  display: flex;
  justify-content: center;
}


.container{
  background-color: rgb(5, 144, 12);
  text-align: center;
  font-size: 30px;
  margin: 50xp auto;
  border-radius: 12px;
  padding: 20ps auto;
  width:700px;
  margin-top:100px;
}

.items{
  text-align: center;
  line-height: 40px;
}

.form{
  text-align: center;
  padding:20px auto;
}

.input{
  width:250px;
  height:25px;
  margin:20px auto;
}

.button{
  width:55px;
  height:60px;
  font-size: 40px;
  padding:20px auto;
}

p{
  display: inline-block;
}

.check{
  width:20px;
  height:20px;
}

body{
  background-color: rgb(234, 233, 244)
}

.heading{
  color: azure;
  margin:0 ;
  padding: 20px 20px;
}

.task-form{
  margin-bottom: 20px;
}

.task{
  color:rgb(158, 159, 159);
  margin:5px;
  padding:5px;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  background-color: beige;
}

.icons{
  display: inline;
  margin:20px;
  padding:5px;
}

input{
  width: 300px;
  height:30px;
}

button{
  width:50px;
  height:34px;
}
